<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>

<!--header-->
        <header>
            <% include ../static/partials/navbar.ejs %>
            <% include ../static/partials/header.ejs %>
            <% include ../static/partials/messages.ejs %>
        </header>

<!--main-->
        <main>

            <div>

                <div><%- wiki.title %></div>
                <div><%- wiki.body %></div>
                <p>By: <%= user.username %></p>
                
            </div>

            <% if (currentUser && currentUser.id === wiki.userId) { %>
                <div>
                    <a href="/wikis/<%= wiki.id %>/edit">Edit</a>
                    <a href="/wikis/<%= wiki.id %>/destroy">Delete</a>
                </div>
            <% } %>

            <% if (collaborators.length > 0) { %>
                <div style="background-color:lightgrey">
                    <p>Collaborators</p>

                    <% collaborators.forEach((collab) => { %>
                        <small><%= collab.collaboratorUsername %> </small>
                        <% if (currentUser && currentUser.id === wiki.userId) { %>
                            <a href="/collaborators/<%= collab.collaboratorId %>/remove">remove</a>
                        <% } %> 
                        <br> <!--fix this br-->
                    <% }) %>
                </div>
            <% } %>

            <% include ../static/partials/collaborator-form %>

        </main>

<!--footer-->
        <footer>

        </footer>

    </body>

</html>